<div class="box">
    <div class="size1">
        <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
        
    <div class="filtragem">
        <h2>Veja abaixo as solicitações 
            de doações</h2>
        <div class="filtros">
            <select name="" id="">
                <option value="">selecionar</option>
            </select>
            <select name="" id="">
                <option value="">selecionar</option>
            </select>
            <select name="" id="">
                <option value="">selecionar</option>
            </select>
            <select name="" id="">
                <option value="">selecionar</option>
            </select>
        </div>
    </div>
</div>
    <div class="solicitacoes">
        <div class="solicitacao">
            <h3>NOME DA ONG</h3>
            <p>solicitação feita em: <span>DATA DA SOLICITAÇÃO</span></p>
            <a href="/pagina-ong">clique aqui para ver a solicitação</a>
        </div>
    </div>

</div>

