.box{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.voltar-btn{
    background-color: #D99D2A;
}
.voltar-btn img{
    filter:invert(100%);
}
.filtragem{
    background-color: #D99D2A;
    width: 100%;
    position: relative;
    top: -21px;
    border-radius: 0 0px 20px 20px;
    padding: 0 0 10px 0px;
    filter: drop-shadow(0px 5px 3px #00000049);
}
.filtragem h2{
    margin-left: 10px;
    color: white;
}
.filtros{
    width: auto;
    display: grid;
    margin: 20px;
}
.filtragem .filtros select{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom:solid 2px white;
    width: 100%;
    color: white;
}
.solicitacoes{
    display: grid;
    margin: 0 20px;
}
.solicitacao{
    text-align: left;
    border: solid 2px #CBCBCB;
    padding: 0 20px 20px 20px;
    margin-bottom: 25px;
    background-color: #00000000;
    
    transition: all 0.3s;
}
.solicitacao:hover{
    border: solid 4px #CBCBCB;
    padding: 0 10px 10px 10px;
    background-color: #d1d1d1;
    transition: all 0.3s;
}
.solicitacao p{
    font-weight: bold;
}
.solicitacao p span{
    color: #8FB021;
    font-weight: lighter;
}
.solicitacao .ali{
    color: #CA262C;
    margin-left: 10px;
}
.solicitacao .nome-sol{
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10px;
}