<div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>

    <h1>Olá, NOME DO USUARIO</h1>
    <h3>Categorias em destaque</h3>
    <div class="categorias">
        <button class="categoria" (click)="goToPage(solicitacao())">
            <div><img src="../../assets/coracao-de-mao.png" alt="icone" class="icone"></div>
            <p>Ver minhas Solicitações</p>
        </button>
        <a class="break"></a>
        <button class="categoria">
            <div><img src="../../assets/fatura-de-arquivo.png" alt="icone" class="icone"></div>
            <p>Gerar Comprovante</p>
        </button>
        <a class="break"></a>
        <button class="categoria" (click)="goToPage('meus-dados')">
            <div><img src="../../assets/definicoes.png" alt="icone" class="icone"></div>
            <p>Meu Dados</p>
        </button>
    </div>
</div>