<div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Meus Dados</h1>
    <div class="dados">
        <div class="info">
            <h3>Endereço de e-mail</h3>
            <div><input type="text" class="input" placeholder="EMAILDAONG@gmail.com"></div>
        </div>
        <div class="info">
            <h3>Nome da ONG</h3>
            <div><input type="text" class="input" placeholder="NOME DA ONG"></div>
        </div>
        <div class="info">
            <h3>CPF/CNPJ</h3>
            <div><input type="text" class="input" placeholder="123.456.789-0001/23"></div>
        </div>
        <div class="info">
            <h3>Cidade</h3>
            <div><input type="text" class="input" placeholder="São Paulo"></div>
        </div>
        <div class="info">
            <h3>Estado</h3>
            <div><input type="text" class="input" placeholder="SP"></div>
        </div>
        <div class="info">
            <h3>Endereço</h3>
            <div><input type="text" class="input" placeholder="Rua das amélias"></div>
        </div>
        <div class="info">
            <h3>Número</h3>
            <div><input type="text" class="input" placeholder="56"></div>
        </div>
        <div class="info">
            <h3>Complemento</h3>
            <div><input type="text" class="input" placeholder="N/A"></div>
        </div>
        <div class="info">
            <h3>CEP</h3>
            <div><input type="text" class="input" placeholder="02349-234"></div>
        </div>
        <div class="info">
            <h3>Celular</h3>
            <div><input type="text" class="input" placeholder="11 96543-9876"></div>
        </div>
    </div>
    <div class="btn-holder"><button class="confirma-btn">Atualizar</button></div>
    <footer class="delete">
        <a href="">Deletar minha conta <img src="../../assets/Vector.png" alt=""></a>
    </footer>
</div>