
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

<body>
    <div class="container">
    <h1 class="titulo">Oi, bem-vindo de volta!</h1>
    </div>

    <div class="form">  
        <form>
          <div class="form-group">
            <label  for="E-mail">E-mail</label>
            <input class="input" type="text" placeholder="example@gmail.com">
        </div> 
        <div class="form-group">
            <label for="password">Senha</label>
            <input class="input" type="password" placeholder="Insira sua senha">
            <div class="passw_forgot">
                <p> Esqueceu sua senha?</p>
            </div>
        </div> 
        <button class="form-button"type="submit">Enviar</button>
        </form>
        <div class="footer-cadastro">
            <p class="footer-cadastro-one">Ainda não tem uma conta?</p>
            <p class="footer-cadastro-two">Cadastre-se</p>
        </div>
        

    </div>


