
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50%;

}

.titulo {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    
    width: 50%;

}

.link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: #D99D2A;
}

.img{
    width: 96px;
    height: 96px;
    background: url(src\assets\Ok.png)
}

@media (min-width: 1024px){

    .container{
        padding-top: 25%;
    }
    
    }
    @media (min-width: 720px){
    
        .container{
            padding-top: 25%;
        }
    
    
    }
    @media (min-width: 500px){
    
        .container{
            padding-top: 15%;
        }
    
    
    }