<div class="box">
    <a href="perfil/doador" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Solicitações</h1>
    <div class="solicitacoes">
        <button class="solicitacao" (click)="goToPage('agendamento')">
            <div class="infos">
                <p class="info">#1 NOME DA SOLICITAÇÃO</p>
                <p>Alimento: <span>ALIMENTO PROMETIDO</span></p>
                <p>Quantidade: <span>QUANTIDADE PROMETIDA</span></p>
                <br>
                <p class="info">XX/XX/XXXX - YY:YY</p>
            </div>
            <div class="opt">
                <a href="" class="excluir">Excluir</a>
            </div>

        </button>
    </div>
</div>