<div class="box">
<img class = "back"src="Vector_black.png" alt="">
<div class="container">
<h1 class="titulo">Preencha os campos abaixo para gerar o comprovante</h1>
<p>Caso haja uma diferença no que foi combinado e o que foi entrege clique em editar para mudar os campos abaixo:</p>
<div class="form">  
    <form>
      <!-- <div class="form-group">
        <label  for="ID_agendamento">ID de agendamento</label>
        <input class="input" type="text" placeholder="Insira o ID da doação">
    </div>  -->
        <div class="alimentos">
            <div class="cat">
                <h3>Alimento Combinado</h3>
                <h3>Quantidade</h3>
            </div>
            <div class="cad">
                <div class="ali">NOME DO ALIMENTO</div>
                <div class="qtd">QUANTIDADE</div>
            </div>
        </div>
        <div class="btn-holder">
            <button class="envia-btn" (click)="goToPage('comprovante')">Editar</button></div>
        <div class="form-group">
            <label  for="Data">Data</label>
            <input class="input" type="date" placeholder="Insira a data em que foi feito a doação">
        </div>
        <div class="nome-holder">
        <h1>NOME DO DOADOR</h1></div>
        <div class="btn-holder">
        <button class="confirma-btn" (click)="goToPage('perfil/ong')">Enviar Comprovante</button></div>
</form>
</div>
</div>
</div>