.box{
    padding: 20px;
}
.input{
    
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    /* height: 41px; */
    max-width: 325px;
    width: 100%;

}
button{
    padding-left: 0px;
    padding-right: 0px;
}
.envia-btn{
    padding-left: 20px;
    padding-right: 20px;
}
.alimentos{
    border-bottom: dashed #C6C6C6 2px;
    padding-bottom: 20px;
}
p{
    color: #999EA1;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

label{
    color: #D99D2A;
    font-weight: 700;
    font-size: 14px;
}

.confirma-btn{
    color: #FFFFFF;
    font-size: 17px;

    background-color: #8FB021;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    border: none;
    padding-right:0px;
    padding-left: 0px;
    max-width: 325px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
}

.titulo{
   
    padding-top: 3%;
    padding-bottom: 13%;

    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;

    color: #000000;

}
.nome-holder{
    text-align: center;
}
.container, img{
    padding-left: 5%;
}

img{
    padding-top: 7%;
}
.alimentos{
    max-width: 650px;
    width: 100%;
}
.cat,.cad{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 60px;
}
.cat h3{
    color: #D99D2A;
}
.cad{
    font-weight: bold;
}
h1{
    margin-top: 0px;    
    margin-bottom: 80px;
    font-weight: lighter;
}
@media (min-width: 1024px){


    *{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo{
        padding-left: 0%;
        padding-bottom: 2%;
    }

}
@media (min-width: 720px){

    *{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    .titulo{
        padding-left: 0%;
        padding-bottom: 2%;
    }

}
@media (min-width: 500px){


    *{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    .titulo{
        padding-left: 0%;
        padding-bottom: 2%;
    }

    ::placeholder{
        text-align: center;
    }

}
@media screen and (max-width:280px){
    .cat h3{
        font-size: small;
    }
    .cad{
        font-size: small;
    }
    .form-group{
        
    padding-right: 20px;
    }
}