<div class="box">
    <a href="perfil/ong" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Solicitações</h1>
    <div class="btn-holder"><button class="envia-btn" (click)="goToPage('add-solicitacao')"><img src="../../assets/mais.png" alt="">Incluir nova solicitação</button></div>
    <div class="solicitacoes">
        <button class="solicitacao">
            <div class="infos">
                <div class="up">
                <div class="sol-info">
                    <p class="info">#1 Nome Da Solicitação</p>
                    <p>Alimento: <span>ALIMENTO PEDIDO</span></p>
                    <p>Quantidade: <span>QUANTIDADE PEDIDA</span></p>
                </div>
                <a href="" class="alterar">Alterar</a>
                </div>
                <br>
                <div class="progress-bar">
                    <div class="progress" id="progress"></div>
                    <p>{{percentage}}%</p>
                </div>
            </div>
            <div class="opt">
                <p class="info">XX/XX/XXXX</p>
                <a href="" class="excluir">Excluir</a>
            </div>

        </button>
    </div>
</div>