<div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Solicitações</h1>
    <div class="btn-holder"><button class="envia-btn" (click)="goToPage('add-solicitacao')"><img src="../../assets/mais.png" alt="">Incluir nova solicitação</button></div>
    <div class="solicitacoes">
        <div class="solicitacao">
            <div class="infos">
                <p class="info">#1</p>
                <p>Alimento: <span>ALIMENTO PEDIDO</span></p>
                <p>Quantidade: <span>QUANTIDADE PEDIDA</span></p>
                <br>
                <p>CATEGORIA DO ALIMENTO</p>
                <p class="info">XX/XX/XXXX</p>
            </div>
            <div class="opt">
                <a href="" class="alterar">Alterar</a>
                <a href="" class="excluir">Excluir</a>
            </div>

        </div>
    </div>
</div>