<div class="box">
    <a href="" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Faça seu agendamento!</h1>
    <br>
    <h2>NOME DA SOLICITAÇÃO</h2>
    <div class="holder">
        <div class="dia">
            <h3>Selecione o dia da sua visita: </h3>
            <select name="" id="" class="select">
                <option value="" selected>Segunda</option>
            </select>
        </div>
        <div class="hora">
            <h3>horário:</h3>
            <input type="text" class="input" placeholder="12:00">
        </div>
    </div>    
</div>
