<div class="box">
    <a href="perfil/doador" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Agenda</h1>
    <div class="input-holder">
    <input type="search" class="input"></div>
    <div class="solicitacoes">
        <button class="solicitacao" (click)="goToPage('comprovante')">
            <div class="infos">
                <h3 class="info">#1 ID do Agendamento</h3>
                <p class="nome-ong">NOME DO DOADOR</p>
                <p>Alimento: <span>ALIMENTO PROMETIDO</span></p>
                <p>Quantidade: <span>QUANTIDADE PROMETIDA</span></p>
                <br>
            </div>
            <div class="opt">
                <p class="info">XX/XX/XXXX - YY:YY</p>
            </div>
        </button>
    </div>
</div>