<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <div class="container">
        <p class="sub-titulo">Para fazer uma doação</p>
        <h1 class="titulo">Crie sua conta aqui</h1>
    </div>

    <div class="container-form">
    <form class="form">
        
        <div class="form-group">
              <label  for="e-mail">Endereço de E-mail</label>
              <input class="input" type="text" placeholder="insira seu e-mail">
          </div> 
          <div class="form-group">
            <label  for="name">Nome completo</label>
            <input class="input" type="text" placeholder="Insira o nome da ONG">
        </div> 
        <div class="form-group">
            <label  for="tel">Celular</label>
            <input class="input" type="tel" placeholder="Insira o Celular com DDD">
        </div> 
        <div class="form-group">
            <label  for="password">Senha</label>
            <input class="input" type="password" placeholder="Insira a sua senha">
        </div> 

        <div class="form-group">
        <button type="submit">Enviar</button>
        <div class="footer">
            <p class="footer-cadastro-one">Você já tem uma conta?</p>
            <p class="footer-cadastro-two">Entrar</p>
        </div>
        </div>
        </form>


    
</div>
