<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <div class="container">
        <p class="sub-titulo">Para fazer uma doação</p>
        <h1 class="titulo">Crie sua conta aqui</h1>
    </div>

    <div class="container-form">
    <form class="form">
        
        <div class="form-group">
              <label  for="e-mail">Endereço de E-mail</label>
              <input class="input" type="text" placeholder="insira seu e-mail">
          </div> 
          <div class="form-group">
            <label  for="name">Nome completo</label>
            <input class="input" type="text" placeholder="Insira o nome da ONG">
        </div> 
        <div class="form-group">
            <label for="Cidade">Cidade</label>
            <select class="select" id="Cidade" name= "Cidade">
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>
        </div> 
        <div class="form-group">
            <label  for="state">Estado</label>
            <select class="select" id="UF" name= "UF">
                <option value="">Selecione</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="EX">EX</option>
                </select>
        </div> 
        <div class="form-group">
            <label  for="endereço">Endereço</label>
            <input class="input" type="text" placeholder="Insira seu Endereço">
        </div> 
        <div class="form-group">
            <label  for="number">Número</label>
            <input class="input" type="number" placeholder="Insira o número">
        </div> 
        <div class="form-group">
            <label  for="complemento">Complemento</label>
            <input class="input" type="text" placeholder="Insira um complemento">
        </div> 
        <div class="form-group">
            <label  for="cep">CEP</label>
            <input class="input" type="number" placeholder="Insira O CEP">
        </div> 
        <div class="form-group">
            <label  for="tel">Celular</label>
            <input class="input" type="tel" placeholder="Insira o Celular com DDD">
        </div> 
        <div class="form-group">
        <button type="submit">Enviar</button>
        <div class="footer">
            <p class="footer-cadastro-one">Você já tem uma conta?</p>
            <p class="footer-cadastro-two">Entrar</p>
        </div>
        </div>
        </form>


    
</div>
