<div class="box">
    <a href="minhas-solicitacoes" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h3>Editar solicitação de doação</h3>
    <div class="infos">
        <input type="text" class="input" placeholder="NOME DA SOLICITAÇÃO">
        <textarea name="" id="" cols="90" rows="5" class="input" placeholder="DESCRIÇÃO DA SOLICITAÇÃO"></textarea>
    </div>
    <div class="alimentos">
        <div class="alimento">
            <h3>Tipo do Alimento:</h3>
            <h3 class="info-tit">TIPO DO ALIMENTO</h3>
            <div class="ali">
                <div class="al"><h3>Alimento:</h3>
                    <h3 class="info-tit">ALIMENTO</h3></div>
                <div class="qtd">
                    <h3>Quantidade:</h3>
                    <input type="text" class="input" placeholder="50KG">
                </div>
            </div>
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
                <p>{{percentage}}%</p>
            </div>
            <div class="btn-holder"><button class="envia-btn delete"><img src="../../assets/mais.png" alt="">Remover alimento</button></div>
        </div>
    </div>
    <div class="btn-holder"><button class="envia-btn"><img src="../../assets/mais.png" alt="">Adicionar Outro</button></div>
    <br>
    <br>
    <br>
    <div class="btn-holder"><button class="confirma-btn">Finalizar Edição</button></div>
</div>