<div class="box">
    <a href="pesquisa" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <div class="header">
        <h1>{{ongs[id].nome}}</h1>
        <p class="guide">Saiba mais sobre a ONG:</p>
        <p>{{ongs[id].descricao}}</p>
    </div>
    <div class="fav-container">
        <button (click)="updateFav()"><img id="fav" src="{{fav_src}}"></button>
    </div>
    <div class="local">
        <p>Para doar basta verificar o endereço abaixo e enviar os alimentos necessários para a ONG.</p>
        <div>
            <h3>Cidade: <span>{{ongs[id].local.cidade}}</span></h3>
        </div>
        <div>
            <h3>Estado: <span>{{ongs[id].local.estado}}</span></h3>
        </div>
        <div>
            <h3>Endereço: <span>{{ongs[id].local.endereco}}</span></h3>
        </div>
        <div>
            <h3>Funcionamento:
                <br>
                <div class="funcionamento"><span class="dia">seg. a sex.</span><span class="horario">08:00 até 18:00</span></div></h3>
        </div>
    </div>
    <div class="alimentos">
        <h2>Solicitações em Aberto:</h2>
        <button class="alimento" (click)="goToPage('paginaSolicitacao')">
            <h1 class="nome-sol">Nome da Solicitação</h1>
            <p>Alimento: <span>ALIMENTO NESCESSITADO</span></p>
            <p>Quantidade: <span>QUANTIDADE NESCESSITADA</span></p>
            <p class="data">Solicitação realizada no dia: xx/xx/xxxx</p>    
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
                <p>{{percentage}}%</p>
            </div>
        </button>
    </div>
    <br>
</div>