
.voltar-btn{
    background-color: #CA262C;
}
.voltar-btn img{
    filter:invert(100%);
}
.header{
    background-color: #CA262C;
    width: auto;
    position: relative;
    top: -25px;
    border-radius: 0 0px 20px 20px;
    padding: 0 0 10px 20px;
    filter: drop-shadow(0px 5px 3px #00000049);
}
.header h1,.header p{
    color: white;
}
.header .guide{
    color: #CBCBCB;
}
.local{
    margin-left: 20px;
    margin-right: 20px;
}
.local p{
    color: #D99D2A;
}
.local div{
    border-bottom: #C6C6C6 dashed 2px;
}
.local div h3{
    color: #CA262C;
}
.local div h3 span{
    color:black;
}
.local div .funcionamento{
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}
.local div .funcionamento span{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.alimentos{
    padding: 0px 20px;
}
.alimentos h2{
    text-align: center;
    color: #D99D2A;
}
.alimento{
    border: none;
    width: 100%;
    text-align: left;
    background-color: hsl(0, 0%, 88%);
    padding: 5px 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 3px #00000049);
    transition: all 0.3s;
}
.alimento:hover{
    background-color: hsl(0, 0%, 71%);
    transition: all 0.3s;
}
.alimento:hover .data{
    color: white;
    transition: all 0.3s;
}
.alimento h1{
    text-align: center;
}
.alimento h3{
    font-size: normal;
}
.alimento p{
    font-size: 18px;
    font-weight: normal;
}
.alimento p span{
    font-weight: bold;
    color: #CA262C;
}
.alimento .data{
    font-size: 17px;
    color: rgb(122, 122, 122);
    transition: all 0.3s;
}

.progress-bar{
    background-color: #a5a5a5;
    border-radius: 50px;
    margin-bottom: 5px;
    text-align: right;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-bar p{
    position: absolute;
    right: 20px;
    color: white;
}
.progress-bar .progress{
    content: ' ';
    background-color: #CA262C;
    width: 100%;
    border-radius: 50px;
    height: 20px;
}

/* FAV NOVO */

.fav-container{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 45px;
    right: 45px;
}
.fav-container button{
    background-color: white;
    border: solid 2px #CA262C;
    border-radius: 100px;
    padding: 0px 0px 0px 0px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
}
.fav-container button img{
    width: 40px;
    position: relative;
    top: 4px;
    transition: 0.3s;
}
.fav-container button:hover{
    background-color: #CA262C;
    border: solid 2px white;
    transition: 0.3s;
}
.fav-container button:hover img{
    filter: brightness(0) invert(1);
    transition: 0.3s;   
}
@media screen and (max-width:360px){
    .fav-container{
        justify-content: center;
        position: initial;
        width: 100%;
    }
    .fav-container button{
        background-color: white;
        border: solid 2px #CA262C;
        border-radius: 100px;
        padding: 0px 0px 0px 0px;
        margin-left: 0;
        max-width: 80%;
        width: 100%;
        transition: 0.3s;
    }
    
}