<div class="box">
    <a href="pesquisa" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <div class="header">
        <h1>{{ongs[id].nome}}</h1>
        <p class="guide">Saiba mais sobre a ONG:</p>
        <p>{{ongs[id].descricao}}</p>
    </div>
    <div class="local">
        <p>Para doar basta verificar o endereço abaixo e enviar os alimentos necessários para a ONG.</p>
        <div>
            <h3>Cidade: <span>{{ongs[id].local.cidade}}</span></h3>
        </div>
        <div>
            <h3>Estado: <span>{{ongs[id].local.estado}}</span></h3>
        </div>
        <div>
            <h3>Endereço: <span>{{ongs[id].local.endereco}}</span></h3>
        </div>
    </div>
    <div class="alimentos">
        <h2>Alimentos que você pode doar:</h2>
        <div class="alimento">
            <h3>Detalhes</h3>
            <p>Alimento: <span>ALIMENTO NESCESSITADO</span></p>
            <p>Quantidade: <span>QUANTIDADE NESCESSITADA</span></p>
            <p class="data">Solicitação realizada no dia: xx/xx/xxxx</p>    
            <div class="progress-bar">
                <div class="progress" id="progress"></div>
                <p>{{percentage}}%</p>
            </div>
        </div>
    </div>
</div>