<div class="box">
    <a href="minhas-solicitacoes" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h2>Inserir solicitação de doação</h2>
    <h1>Do que sua ONG precisa?</h1>
    <p>Somente é permitido o cadastro de alimentos não-perecíveis.</p>
    <div class="nome-sol">
        <input type="number" name="" id="" class="input nome" placeholder="Nome da Solicitação">
        <textarea name="" id="" cols="" rows="5" class="input nome" placeholder="Estamos criando essa doação para arrecadar alimento para ..."></textarea>
    </div>
    <div class="alimentos" id="produtos">
        <div class="alimento-cad" id="prod">
            <h3>Selecione o tipo do alimento:</h3>
                <select name="" id="" class="select">
                    <option value="">Selecione</option>
                </select>
            <div class="tipo-alimento">
                <div class="alimento">
                    <h3>Selecione o que você precisa:</h3>
                    <select name="" id="" class="select">
                        <option value="">Selecione</option>
                    </select>
                </div>
                <div class="quantidade">
                    <h3>Quantidade</h3>
                    <input type="number" name="" id="" class="input">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-holder">
        <button class="envia-btn" (click)="createComponent()">
            <img src="../../assets/mais.png" alt="">Adicionar outro
        </button>
    </div>
    <br>
    <br>
    <br>
    <div class="btn-holder">
        <button class="confirma-btn" (click)="goToPage('minhas-solicitacoes')">Enviar</button>
    </div>
</div>