.box{
    padding: 20px;
}
h2{
    color: #9E9E9E;
    text-align: center;
}
h3{
    color: #D99D2A;
}

.holder{
    display: contents;
    width: 100%;
}
.holder .info{
    display: flex;
    justify-content: space-between;
}
.dia{
    margin-right: 20px;
}
.dia .select{
    width: 100%;
}
.hora .input{
    width: fit-content;
    max-width: 100px;
}
.holder .dia{
    width: 100%;
}
.holder .hora{
    width: fit-content;
    
}
.info{
    padding-bottom: 20px;
    border-bottom: 2px dashed #C6C6C6;
}
.alimentoInfo{
    border-bottom: dashed 2px #C6C6C6;
}
.alimentoInfo p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.alimento .select{
    width: 100%;
}
.quantidade .input{
    max-width: 100px;
}
.envia-btn img{
    margin-right: 10px;  
}
.confirma-btn{
    max-width: 300px;
    width: 100%;
}
a{
    color: #8FB021;
}
.delete{
    background-color: #CA262C;
}
@media screen and (max-width: 430px){
    .hora .input{
        max-width: 100%;
    }
    .quantidade{
        margin-right: 20px;
    }
    .quantidade .input{
       max-width: 430px;
       width: 100%;
    }   
    .alimentoInfo{
        display: contents;
    }
}