<div class="box">
    <a href="meusagendamentos" class="voltar"><div class="voltar-btn"><img src="../../assets/Voltar.png" alt=""></div></a>
    <h1>Seu agendamento</h1>
    <br>
    <h2>NOME DA SOLICITAÇÃO</h2>
    <div class="holder data">
        <h3>Dia da sua visita: </h3>
        <div class="info">
            <div class="dia">
                <select name="" id="" class="select">
                    <option value="" >Domingo</option>
                    <option value="" selected>Segunda-feira</option>
                    <option value="" >Terça-feira</option>
                    <option value="" >Quarta-feira</option>
                    <option value="" >Quinta-feira</option>
                    <option value="" >Sexta-feira</option>
                    <option value="" >Sábado</option>
                </select>
            </div>
            <div class="hora">
                <input type="time" class="input" placeholder="12:00">
            </div>
        </div>
    </div>
    <div class="holder" id="produtos">
        <div class="alimentoInfo" id="prod">
                <h3>Alimentos que você marcou:</h3>
                <p>NOME DO ALIMENTO   QUANTIDADE</p>
        </div>
    </div>      
    <a href="paginaSolicitacao">Página da solicitação</a>
    <div class="btn-holder">
        <button class="confirma-btn">
            Atualizar
        </button>
    </div>
    <br>
    <div class="nome-holder">
    <h1>#ID do Agendamento</h1></div>
    <br>
    <br>
    <div class="btn-holder">
        <button class="confirma-btn delete">Excluir Agendamento</button>
    </div>
</div>